body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 786px;
}

h1 {
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card, .card-md {
    background-color: #111;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

.card h2, .card-md h2 {
    color: #fff;
    margin-top: 0;
    word-break: break-word;
}

.card p, .card-md p {
    color: #ccc;
    margin-bottom: 0;
}

.content p {
    color: #fff;
    margin-top: 0;
}

.content a {
    color: #fff;
}

.content blockquote {
    border-left: 4px solid purple;
    padding-left: 15px;
    margin: 10px 0;
    color: #ddd;
}

.content img {
    max-width: 100%;
}

.back-button {
    background-color: #FFF;
    border: none;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.back-button:hover {
    background-color: #DDD;
}

.read-more {
    color: #fff;
    text-decoration: none;
}       
.search-bar {
    width: 100%;
    max-width: 400px;
    margin: 2vh auto;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    position: relative;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.highlight {
    background-color: yellow;
    color:#000;
}
.result-link{
    color: #fff;
    text-decoration: none;
}
.category{
    color: #ddd;
    font-weight: bold;
    font-size: smaller;
}
.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}
.title {
    color: white;
    text-decoration: none;
}
.links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.links a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    padding: 1vh;
    border-radius: 1vh;
}
.chosen-link{
    background-color: #fff;
    color: #000 !important;
}
#scrollToThis{
    background-color: rgb(173, 158, 119) !important;
    color:#000;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .card .card-md {
        flex-basis: 48%;
    }
}
