body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 786px;
    padding: 0 20px;
}

h1, .header, .title {
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card, .card-md {
    background-color: #111;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

.card h2, .card-md h2 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word;
}

.card p, .card-md p {
    color: #ccc;
    margin-bottom: 0;
    overflow-wrap: break-word;
}

.content p {
    color: #fff;
    margin-top: 0;
    overflow-wrap: break-word;
}

.content a {
    color: #fff;
    word-break: break-all;
    overflow-wrap: break-word;
}

.content blockquote {
    border-left: 4px solid purple;
    padding-left: 15px;
    margin: 10px 0;
    color: #ddd;
}

.content pre, code, h4, h3, h2, h1, h5, h6 {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.content li {
    word-wrap: break-word;
}

.content ol, li {
    padding: 0;
    margin: 0;
}

.content ol, .content ul {
    padding-left: 15px;
    margin-bottom: 1em;
}

.content table {
    margin-bottom: 1em;
}

.content ol ol {
    padding-left: 20px;
}

.content img {
    max-width: 100%;
}

.back-arrow, #share-button {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
}

.back-arrow {
    left: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.back-arrow:hover {
    opacity: 0.8;
}

#share-button {
    right: 0;
}

#share-button:hover path {
    fill: #ddd;
}

.read-more {
    color: #fff;
    text-decoration: underline;
}

.search-bar {
    width: 100%;
    margin: 1vh auto 2vh;
    padding: 8px 40px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
    outline: none;
    position: relative;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.search-container {
    width: 100%;
    max-width: 400px;
    margin: -1vh auto 0;
    position: relative;
}

.search-icon, .clear-icon {
    position: absolute;
    top: calc(50% - 0.5vh);
    transform: translateY(-50%);
}

.search-icon {
    left: 12px;
    width: 18.75px;
    height: 55px;
    z-index: 2;
}

.clear-icon {
    right: 12px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.highlight {
    background-color: yellow;
    color: #000;
}
.result-link, .title {
    color: #fff;
    text-decoration: none;
}
.results-summary {
    color: #ccc;
}
.category {
    color: #ddd;
    font-weight: bold;
    font-size: smaller;
}
.title {
    word-wrap: break-word;
    margin: 0 auto;
    max-width: calc(100% - 80px);
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.title-container h1 {
    margin-top: 0;
}
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.categories a {
    color: #fff;
    text-decoration: none;
    background-color: #111;
    margin: 5px;
    border: 1px solid #444;
    padding: 1vh;
    border-radius: 1vh;
}
.chosen-link {
    background-color: #fff !important;
    color: #000 !important;
}
#scrollToThis {
    background-color: rgb(173, 158, 119) !important;
    color:#000;
}

#removeHighlights {
    position: fixed;
    bottom: 28px;
    left: 10px;
    z-index: 9999;
    display: inline-flex;
    align-items: center;
    padding: .48rem 1rem;
    border: 0;
    border-radius: 9999px;
    background: #303030;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    line-height: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    user-select: none;
    -webkit-user-select: none;
}
#removeHighlights .x {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: .45rem;
    vertical-align: middle;
    text-align: center;
    line-height: 18px;
    font-size: .8rem;
    font-weight: 400;
    border-radius: 50%;
    background: #505050;
}

#removeHighlights:hover {
    background-color: #262626;
}


/* FIND ON PAGE */
.find-on-page {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    color: #fff;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}
.find-on-page-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 786px;
}
.find-on-page input {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 100px;
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    background-color: #222;
    color: #fff;
}
.find-on-page-buttons {
    display: flex;
    align-items: center;
}
.find-on-page button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
    color: #fff;
    margin: 0 5px;
    flex-shrink: 0;
    touch-action: manipulation; /* Prevents double-tap zooming on mobile */
}
#find-on-page-count {
    font-size: 14px;
    color: #fff;
    margin: 0 10px;
    white-space: nowrap;
    flex-shrink: 0;
}
body.find-on-page-active {
    padding-bottom: 60px;
}
.find-on-page-highlight {
    background-color: yellow;
    color: black;
}
.find-on-page-highlight-current {
    background-color: orange;
    color: black;
}
.activate-find-on-page {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #303030;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 14px;
    cursor: pointer;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.activate-find-on-page svg {
    width: 24px;
    height: 24px;
}
@media (max-width: 786px) {
    .find-on-page {
        padding: 10px;
    }
    
    .find-on-page-content {
        width: 100%;
    }
    .content {
        padding-bottom: 60px;
    }
}